html {
    scroll-behavior: smooth;
  }
.welcome{
    background-image: linear-gradient(rgba(0,0,0.2),rgba(0,0,0,0.2)),url(../img/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.spacing{
    letter-spacing: 5px;
}
.text-margin{
    margin-top: 25px;
    width: 150px;
    height: 150px;
}
.size{
    font-size: 15px !important;
}
.img-icon{
    width: 95px;
    height: 95px;
}
.img-icon-md{
    width: 145px;
    height: 145px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
 .thumbnail {
     height: 200px;
     width: 500px;
 }
 .navbar-expand-lg{
    box-shadow: 0px 9px 13px -6px rgba(0,0,0,0.53);
 }